* {
    margin: 0;
    padding: 0;
   outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    position: relative;
}

body {
    max-width: 100svw;
    height: 100svh;
    min-height: 100svh;
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);
    background-repeat: no-repeat;
     background-size: cover;

}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

h1 {
    color: white;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border: 2px dashed #7c3aed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    box-shadow: 0px 0px 10px #7c3aed;

}


nav ul {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
}

nav ul li a {
    color: white;
}

.section-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    min-height: 80vh;

}

.home-text,
h3,

p {
    color: white;
}

.home-text span {
    color: #7c3aed;
    font-size: 30px;
    /* display: inline-block;
   margin: 10px; */
}

.section-home .home-text {
    margin-bottom: 10px;
}

.button-home {
    width: 250px;
    height: 30px;
    background-color: #854aeb;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    transition: 0.7s ease;

}




.button-home:hover {
    background-color: transparent;
    border: 1px solid #ffffff88;
    transform: scale(1.1);
    color: #7c3aed;
}

.button-cv {
    width: 250px;
    height: 30px;
    background-color: #00000035;
    color: white;
    border: 1px solid #ffffff88;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    transition: 0.7s ease;
}

.button-cv:hover {
    background-color: #854aeb;
    border: 1px solid #ffffff88;
    transform: scale(1.1);
}


.img-home {
    animation-name: img;
    animation-duration: 8s;
    transition: ease;
    animation-iteration-count: infinite;
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 40px;
    border: 1px solid #7c3aed;


}

@keyframes img {
    50% {

        transform: translateY(10px);
    }

    100% {

        transform: translateY(5);
    }
}

.section-aboutme {
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);
    background-size: cover;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;

}

.about-text {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.img-aboutme {
    width: 250px;
    height: 250px;
    border-radius: 40px;
    border: 1px solid #7c3aed;
    display: flex;
    align-items: center;
    margin: 20px;
    background-position: center;
}

.section-aboutme h3,
h2 {
    color: white;

}

.section-aboutme .border {
    height: 2px;
    border-radius: 2px;
    background-color: #7c3aed;
    width: 30px;
    margin-top: -10px;

}

.skills {

    color: white;
    min-height: 100svh;
     background-size: cover;
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px; */
    padding: 10px;
}

.skills-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}



.border {
    height: 2px;
    border-radius: 2px;
    background-color: #7c3aed;
    width: 30px;
    margin-left: -35px;
    margin-bottom: -15px;

}

/* ----edir error---- */
.skills .front-end-devolpment {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap:wrap ; */

}
.front-title h3{
     display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}
.front-title i{
   color:  #7c3aed;
    font-size: 25px;
    margin-right: 2px;
}
.html i{
    color: red;
    font-size: 30px;
}
.skills .front-end-devolpment .html {
    margin: 10px;
    border: 1px solid #7c3aed;
    box-shadow: 0px 0px 4px #eee;
    width: 100px;
    height: 150px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: white;
    transition: 0.7s ease;

}


.html:hover {
    background-color: #7c3aed;
    transform: scale(1.1);
}

.skills .front-end-devolpment .css {
    margin: 10px;
    border: 1px solid #7c3aed;
    box-shadow: 0px 0px 4px #eee;
    width: 100px;
    height: 150px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: white;
    transition: 0.7s ease;

}
.css i{
   color: blue;
    font-size: 30px;
}

.css:hover {
    background-color: #7c3aed;
    transform: scale(1.1);
}

.skills .front-end-devolpment .javascript {
    margin: 10px;
    border: 1px solid #7c3aed;
    box-shadow: 0px 0px 4px #eee;
    width: 100px;
    height: 150px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: white;
    transition: 0.7s ease;
}

.javascript:hover {
    background-color: #7c3aed;
    transform: scale(1.1);
}
.javascript i{
   color:yellow;
    font-size: 30px;
}

.skills .front-end-devolpment .React {
    margin: 10px;
    border: 1px solid #7c3aed;
    box-shadow: 0px 0px 4px #eee;
    width: 100px;
    height: 150px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: white;
    transition: 0.7s ease;
}

.React:hover {
    background-color: #7c3aed;
    transform: scale(1.1);
}
.React i{
   color:aqua;
    font-size: 30px;
}


.skills-tools {
    display: flex;
    justify-content:center;
   flex-direction: row;
   
}
.title-skills h2{
     color:  white;
    font-size: 30px;
    margin-right: 2px;
}
.title-skills  h2{
     display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}
.title-skills i{
   color:#7c3aed;
    font-size: 20px;
}
.skills-tools .tools-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .skills-tools h3 {
    padding: 10px;
    display: flex;
    
} */

.skills-tools .git-hub {
    margin: 10px;
    border: 1px solid #7c3aed;
    width: 100px;
    height: 120px;
    border-radius: 25px;
    display: flex;
    box-shadow: 0px 0px 4px #eee;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: white;
    transition: 0.7s ease;
}
.git-hub  i{
   color: orangered;
    font-size: 30px;
}

.skills-tools .vs-code {
    margin: 10px;
    border: 1px solid #7c3aed;
    width: 100px;
    height: 120px;
    box-shadow: 0px 0px 4px #eee;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: white;
    transition: 0.7s ease;
 }
.vs-code i{
   color: rgb(28, 28, 221);
    font-size: 30px;
}
    .vs-code:hover{
    transform: scale(1.1);
}

    .git-hub:hover{
    transform: scale(1.1);
}
.Other-skills{
    display: flex;
    gap: 10px;
    flex-wrap:wrap ;
    /* ----edit--- */
    justify-content: center;
    text-align: center;
}
.soft-skills h3{
    display: flex;
    justify-content: center;
    margin: 10px;
} 
.soft-skills i{
    color: #7c3aed;
    font-size: 20px;
}
.Other-skills p{
    width: 250px;
    height: 40px;
    box-shadow: 0px 0px 4px #eee;
    background-color: #00000035;
    color: white;
    border: 1px solid #7c3aed;
    border-radius: 10px;
    padding: 10px;
    transition: 0.7s ease;
    margin: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px;
}
.Other-skills p:hover{
    transform: scale(1.1);
}

/* /* error  not appear */
.Other-skills p{
    position: relative;
}
 .Other-skills p::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:#854aeb;
    top: 15px; 
 left: 60px;
}

.Projects{
    background-size: cover;
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);

    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.Projects .title{
    text-align: center;
}

.border-projects{
  position: relative;
}   

 .border-projects::before{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background-color:#7c3aed;
    width: 30px;
    text-align: center;
    left: 410px;
    top: 10px;
} 

.projects1{
       background-size: cover;
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 80vh;
    padding: 10px;
}

  .project1 span{
    color: #7c3aed;
  }
 /* .img-pro {
    width: 40%;
} 

.img-pro img {


    width: 100%;
    height: auto;
    border-radius: 10px;
    
} */
  .project1 a{
    color: white;
    width: 250px;
    height: 30px;
    font-size: 15px;
    background-color: #854aeb;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    transition: 0.7s ease;
  }
   .project1{
    padding: 10px;
    display: inline-block;
    margin: 10px;
    
    font-size: 20px;
 }
  .project1 a:hover {
    background-color: transparent;
    border: 1px solid #ffffff88;
    transform: scale(1.1);
}

.projects2{
       background-size: cover;
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 80vh;
    padding: 10px;
}

  .project2 span{
    color: #7c3aed;
  }
  .img-pro {
    width: 40%;
} 

.img-pro img {
   
    width: 100%;
    height: auto;
    border-radius: 10px;
} 
  .project2 a{
    color: white;
    width: 250px;
    height: 30px;
    font-size: 15px;
    background-color: #854aeb;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    transition: 0.7s ease;
  }
   .project2{
    padding: 10px;
    display: inline-block;
    margin: 10px;
    
    font-size: 20px;
 }
  .project2 a:hover {
    background-color: transparent;
    border: 1px solid #ffffff88;
    transform: scale(1.1);
}

.projects3{
       background-size: cover;
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 80vh;
    padding: 10px;
}

  .project3 span{
    color: #7c3aed;
  }
 
  .project3 a{
    color: white;
    width: 250px;
    height: 30px;
    font-size: 15px;
    background-color: #854aeb;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    transition: 0.7s ease;
  }
   .project3{
    padding: 10px;
    display: inline-block;
    margin: 10px;

    font-size: 20px;
 }
  .project3 a:hover {
    background-color: transparent;
    border: 1px solid #ffffff88;
    transform: scale(1.1);
}

.projects4{
    background-size: cover;
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 80vh;
    padding: 10px;
}

  .project4 span{
    color: #7c3aed;
  }
 .img-pro {
    width: 40%;
} 

.img-pro img {
    width: 300px;
    height: 300px;
}
  .project4 a{
    color: white;
    width: 250px;
    height: 30px;
    font-size: 15px;
    background-color: #854aeb;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    transition: 0.7s ease;
  }
   .project4{
    padding: 10px;
    display: inline-block;
    margin: 10px;
   
    font-size: 20px;
 }
  .project4 a:hover {
    background-color: transparent;
    border: 1px solid #ffffff88;
    transform: scale(1.1);
}

.Contactus{
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 60px;
    height: 40vh;
    font-size:20px ;
   
   
}

.Contactus h3{
    color: #7c3aed;
}
.Contactus a{
    color: white;
}
footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#1f2a48, #0f1721, #19053ce5);
    background-size: cover;
}
/* ----@media---- */

 @media (max-width: 768px) {

    .section-home {
        flex-direction: column;
        text-align: center;
    }

    .img-home {
        width: 150px;
        height: 150px;
    }

    .all {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .img-pro img {
        width: 100%;
    }
}